################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Lesson2/Sample1/.vs/Sample1/v17
/Lesson2/Sample2/.vs/Sample2/v17
/Lesson2/Sample3/.vs/Sample3/v17
/Lesson2/Sample4/.vs/Sample4/v17
/Lesson2/Sample5/.vs/Sample5/v17
/Lesson2/Sample6/.vs/Sample6/v17
/Lesson3/Sample1/.vs/Sample1/v17
/Lesson3/Sample2/.vs/Sample2/v17
/Lesson3/Sample3/.vs/Sample3/v17
/Lesson3/Sample4/.vs/Sample4/v17
/Lesson3/Sample5/.vs/Sample5/v17
/Lesson3/Sample6/.vs/Sample6/v17
/Lesson3/Sample7/.vs/Sample7/v17
/Lesson4/Sample1/.vs/Sample1/v17
/Lesson4/Sample2/.vs/Sample2/v17
/Lesson4/Sample3/.vs/Sample3/v17
/Lesson4/Sample4/.vs/Sample4/v17
/Lesson4/Sample5/.vs/Sample5/v17
/Lesson4/Sample6/.vs/Sample6/v17
/Lesson4/Sample7/.vs/Sample7/v17
/Lesson4/.vs/Lesson4/v17
/Lesson4/Sample8/.vs/Sample8/v17
/Lesson4/Sample9/.vs/Sample9/v17
/Lesson4/Sample11/.vs/Sample11/v17
/Lesson5/Sample1/.vs/Sample1/v17
/Lesson5/Sample2/.vs/Sample2/v17
/Lesson5/Sample3/.vs/Sample3/v17
/Lesson5/Sample4/.vs/Sample4/v17
/Lesson5/Sample5/.vs/Sample5/v17
/Lesson5/Sample6/.vs/Sample6/v17
/Lesson5/Sample7/.vs/Sample7/v17
/Lesson6/Sample1/.vs/Sample1/v17
/Lesson6/Sample2/.vs/Sample2/v17
/Lesson6/Sample3/.vs/Sample3/v17
/Lesson6/Sample4/.vs/Sample4/v17
/Lesson6/Sample5/.vs/Sample5/v17
