################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Lesson2/Sample1/.vs/Sample1/v17
/Lesson2/Sample2/.vs/Sample2/v17
/Lesson2/Sample3/.vs/Sample3/v17
/Lesson2/Sample4/.vs/Sample4/v17
